body {
    margin: 0;
    background-color: rgb(221, 221, 221);
}

header {
    padding-top: 60px;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    color: #3d3c3c;
    margin-bottom: 10px;
}

header span {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    z-index: 1;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
    float: right;
}

li:nth-last-child(-n+2) {
    float: right;
}

li:first-of-type {
    float: left;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

div#confirmation {
    padding-top: 4rem;
    text-align: center;
    color: #333;
    font-size: 2rem;
}

.textDanger {
    text-align: center;
    font-weight: 700;
    width: 100%;
    color: #a94442;
    margin: 0 auto;
    display: block;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 60px;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input.button,
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input.button:hover,
button:hover {
    opacity: 0.8;
}

.actionBar {
    max-width: 600px;
    display: block;
    margin: 10px auto;
    text-align: center;
}

.actionBar button {
    display: inline-block;
    max-width: 160px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 800;
    background-color: #333;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

section {
    position: relative;
    width: 100%;
    text-align: center;
}

article {
    max-width: 300px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 20px;
    display: inline-grid;
    /* The grid-template-rows CSS property 
    defines the line names and track sizing functions of the grid rows. */
    grid-template-rows: 300px 300px 100px;
    /* The grid-template-columns CSS property 
    defines the line names and track sizing functions of the grid columns. */
    grid-template-columns: 300px 300px 100px; 
    grid-gap: 3px;
}

article img {
    display: block;
    width: 100%;
    border-radius: 6px;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

fieldset {
    border: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: rgb(68, 68, 68);
    border: solid rgb(99, 99, 99) 2px;
    border-radius: 6px;
}

fieldset p {
    min-height: auto;
    position: relative;
    display: block;
    margin-bottom: 0;
}

legend {
    padding: 4px 2px;
    background-color: #333;
    color: white;
    font-weight: 700;
    font-size: 18px;
    width: 90%;
    text-align: center;
    border-radius: 6px;
}

article button {
    width: 90px;
    margin: 0 auto;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 800;
    background-color: #333;
    padding: 6px 20px;
    margin: 2px 6px;
}

article button:last-of-type {
    background-color: #a94442;
}

article button:first-of-type {
    background-color: #04AA6D;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}